---
import {Content as TourContent} from '../content/Tour.md';
import Logo from '../components/Logo.astro';
import '../styles/global.css';
import '../styles/home.css';

let title = 'Soumil Roy ~ Developer Zone';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>
		<header>
			<div>
				<Logo width={60} height={80} />
				<h1>Soumil's DevZone</h1>
			</div>
		</header>

		<article>
			<TourContent />
		</article>
	</main>
</body>
</html>
